.reset-page {
    height: 100vh;
    display: flex;
}

.resetpassword_form {
       width: 50%;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  justify-content: center;
  align-items: center;
}

.resetpassword_form h2 {
  text-align: center;
  font-family: "Bodoni Moda SC", serif;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #000;
}