.brand-page {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #ffffff;
}
.brand-page {
  border: 3px solid red;
}
.brand-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 16px;
  justify-content: center;
}

@media (max-width: 768px) {
  .brand-cards-wrapper {
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: visible;  
    scroll-snap-type: x mandatory;
  }
}