.my-orders-page-order {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 40px 60px;
  min-height: 80vh;
  background-color: white;
  color: black;
}

.page-title-hidden-order {
  display: none;
}

.orders-section-order {
  margin-bottom: 80px;
}

.section-title-order {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #000;
}

.no-orders-text-order {
  font-style: italic;
  color: #888;
  font-size: 14px;
}

.orders-loading-order {
  padding-top: 150px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
