.suggestions-section {
  margin-bottom: 80px;
}

.suggestions.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 50px;
}

.suggestions-title {
  display: block;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  place-self: center;
}

.suggestions-grid {
  display: flex;
  gap: 30px;
  margin-left: 50px;
  justify-content: center;
}

.suggestion-subtitle {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 16px;
  color: #747474;
  text-align: center;
}
.suggestion-image {
  width: 250px;
  transition: transform 0.3s ease;
  transform-origin: center;
  margin-bottom: 20px;
}

.suggestion-image:hover {
  transform: scale(1.05);
}

.suggestion-article-details {
  display: flex;
  flex-direction: column;
}

.suggestion-price {
  font-weight: 400;
  color: #747474;
}

.suggestion-card {
  width: 260px;
  cursor: pointer;
}
