.brand-desc-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 6rem;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.brand-desc-container {
  max-width: 800px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand-text {
  font-size: 1.5rem;
  line-height: 1.8;
  text-align: center;
  font-weight: 500;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.brand-loading,
.brand-error {
  padding-top: 150px;
  text-align: center;
}

@media (max-width: 768px) {
  .brand-desc-container {
    max-width: 350px;
  }

  .brand-text {
    font-size: 1.2rem;
  }
}
